retrieveconsolidatedroutesandschedules-travelontip-sapi/src/main/mule/global/retrievetravelontiproutesandschedule-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="retrievetravelontiproutesandschedule-sapi-main">
        <http:listener config-ref="retrievetravelontiproutesandschedule-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrievetravelontiproutesandschedule-sapi-config" />
        <error-handler ref="globalErrorHandlerError_Handler">
        </error-handler>
    </flow>
    <flow name="retrievetravelontiproutesandschedule-sapi-console">
        <http:listener config-ref="retrievetravelontiproutesandschedule-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrievetravelontiproutesandschedule-sapi-config" />
		<error-handler ref="globalErrorHandlerError_Handler" />
    </flow>
    <sub-flow name="retrievetravelontiproutesandschedule-sapi-InitialiseRequestVarible-Sub_Flow" doc:id="a6fde42a-5c29-47cb-92a1-d2ab9ec43141" >
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
                <ee:set-variable variableName="transportCompany"><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
				<ee:set-variable variableName="transactionId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
	<flow name="get:\(transportType)\(transportCompany)\routes:retrievetravelontiproutesandschedule-sapi-config">
		<flow-ref doc:name="retrievetravelontiproutesandschedule-sapi-InitialiseRequestVarible-Sub_Flow" doc:id="505043f2-646c-469f-9106-0c45699b0c16" name="retrievetravelontiproutesandschedule-sapi-InitialiseRequestVarible-Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="24b1320c-fd0b-42d6-827b-94e657291fd9" message="Request Recieved For Routes TravelOnTip SAPI for transactionId #[vars.transactionId] "/>
		<flow-ref doc:name="travelOnTip-getRoutes-implementation.xmlSub_Flow" doc:id="c1cc89af-c393-494f-9d00-05d80b79b76d" name="travelOnTip-getRoutes-implementation.xmlSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="03484462-c87d-4b67-b82a-2f8ba3e2dc76" message="Response Sent For Routes TravelOnTip SAPI for transactionId #[vars.transactionId] "/>
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\schedules:retrievetravelontiproutesandschedule-sapi-config">
		<flow-ref doc:name="retrievetravelontiproutesandschedule-sapi-InitialiseRequestVarible-Sub_Flow" doc:id="3ed76100-45e4-4b10-a5ef-23de01c4b170" name="retrievetravelontiproutesandschedule-sapi-InitialiseRequestVarible-Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="9245478f-709f-46f5-a1e5-b990d78bfaad" message="Request Recieved For Schedules SAPI for transactionId #[vars.transactionId] "/>
		<flow-ref doc:name="travelOnTip-getSchedules-implementationSub_Flow" doc:id="afb1059c-cada-4f9b-ab83-d37f1d55f44f" name="travelOnTip-getSchedules-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="c1956b5e-8547-40f1-9cd2-6348baa6bda0" message="Response Sent For Schedules TravelOnTip SAPI for transactionId #[vars.transactionId] "/>
    </flow>
</mule>
